<div class="user-details">
  <h1>Hi there! I'm Cheyenne.</h1>
  <img src="/assets/images/portrait.jpg" class="portrait">
  <p>{{ site.user_description }} I was born on the bustling tropical island of Singapore and raised on the placid prairies of Leduc, Alberta, Canada. I was also a <a href="https://en.wikipedia.org/wiki/Cheyenne_Goh" target="_blank">short track speed skater</a> in a past life.</p>
  <p><b><a href="/assets/CheyenneGohCV25-02-2025.pdf" target="_blank">CV</a> (EU) / <a href="/assets/CheyenneGohResume25-02-2025.pdf" target="_blank">Resume</a> (NA)</b></p>
</div>
